<div class="container" id="job-details">
    <div class="row">
        <div class="col-lg-12">
            <a href="#/home"><span class="glyphicon glyphicon-arrow-left"></span>Back to Home</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="job-details-header">
            <ul>
                <li>{{job_data.title}}</li>
                <li>{{job_data.status}}</li>
            </ul>
        </div>
    </div>
    <div class="row" ng-show="jobDone">
        <div class="col-lg-12" id="job-details-results">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Energy (kcal/mol)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GB</td>
                        <td>{{result.gb}}</td>
                    </tr>
                    <tr>
                        <td>Non-Polar</td>
                        <td>{{result.non_polar}}</td>
                    </tr>
                    <tr>
                        <td>Reaction Field</td>
                        <td>{{result.reaction_field}}</td>
                    </tr>
                    <tr>
                        <td>Solvent intershell</td>
                        <td>{{result.solvent_intershell}}</td>
                    </tr>
                    <tr>
                        <td>Solvent intrashell</td>
                        <td>{{result.solvent_intrashell}}</td>
                    </tr>
                    <tr>
                        <td>Solvent-solute</td>
                        <td>{{result.solvent_solute}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>{{result.total}}</td>
                    </tr>
                    <tr>
                        <td>SASA (nm^2)</td>
                        <td>{{result.sasa}}</td>
                    </tr>
                    <tr>
                        <td>Shell 0 waters</td>
                        <td>{{result.shell_zero_waters}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="job-details-buttons">
            <button class="btn btn-primary" type="button" ng-click="refreshJob()">Refresh</button>
        </div>
    </div>
</div>
