<div class="row dashboard">
    <div class="col-lg-6">
        <h2>Your SEA jobs</h2>
        <table ng-show="jobs.length" class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Owner</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in jobs | filter:username">
                    <td><a href="#/jobs/{{job.id}}/">{{job.title}}</a></td>
                    <td>{{job.owner}}</td>
                    <td>{{job.status}}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-default" type="button" ng-click="refreshJob()">Refresh Job List</button>
        <p>You are logged in as {{username}}.</p>
        <button class="btn btn-danger" type="button" ng-click="logout()">Logout</button>
    </div>
    <div class="col-lg-6">
        <h2>Submit a new job</h2>
        <form role="form">
            <div class="form-group">
                <label>Job Title</label>
                <input type="text" class="form-control" placeholder="Enter job title" ng-model="title" required />
            </div>
            <div class="form-group">
                <label>Structure File</label>
                <input type="file" file="structureFile" required />
            </div>
            <div class="form-group">
                <label>Topology File</label>
                <input type="file" file="topologyFile" required />
            </div>
            <button type="submit" class="btn btn-default" ng-click="saveJob()">Submit</button>
            <!-- <input type="submit" value="Save" ng-click="saveJob()" /> -->
        </form>
    </div>
</div>
