  <!-- Home Partial -->
<div style="margin-left:5%">

  <h2>SEA-web</h2>

  <p>You are logged in as {{username}}.</p>
  <button class="btn btn-danger" type="button" ng-click="logout()">Logout</button>

  <table ng-show="jobs.length" cellspacing="5">
    <tr align="left">
      <th>Title</th>
      <th>Owner</th>
      <th>Status</th>
    </tr>
    <tr ng-repeat="job in jobs | filter:username">
      <td><a href="#/jobs/{{job.id}}/">{{job.title}}</a></td>
      <td>{{job.owner}}</td>
      <td>{{job.status}}</td>
    </tr>
  </table>
  <button class="btn btn-primary" type="button" ng-click="refreshJob()">Refresh</button>

  <form>
      <label>Job Title</label>
      <br>
      <input type="text" ng-model="title" required />
      <br>
      <label>Structure File</label>
      <input type="file" file="structureFile" required />
      <br>
      <label>Topology File</label>
      <input type="file" file="topologyFile" required />
      <input type="submit" value="Save" ng-click="saveJob()" />
  </form>

</div>