<div class="container" id="job-details">
    <div class="row">
        <div>
            <a href="#/home"><span class="glyphicon glyphicon-arrow-left"></span>Back to Home</a>
        </div>

        <div id="job-details-header">
            <ul>
                <li>{{jobData.title}}</li>
                <li class="pull-right">{{jobData.status}}</li>
            </ul>
        </div>

        <div class="panel panel-default">
        <div class="panel-heading">Input Parameters</div>
        <table class="table table-striped job-details-table">
            <tbody>
                <tr>
                    <td>Structure</td>
                    <td>{{jobData.structure_filename}}</td>
                </tr>
                <tr>
                    <td>Topology</td>
                    <td>{{jobData.topology_filename}}</td>
                </tr>
                <tr>
                    <td>Calculation Type</td>
                    <td>{{jobData.calculation_type}}</td>
                </tr>
                <tr>
                    <td>Iterations</td>
                    <td>{{jobData.iterations}}</td>
                </tr>
                <tr>
                    <td>Surface Detail</td>
                    <td>{{jobData.surface_detail}}</td>
                </tr>
            </tbody>
        </table>
        </div>

        <div class="panel panel-default">
        <div class="panel-heading">Results (kcal/mol)</div>
        <table class="table table-striped job-details-table" ng-show="jobDone">
                <tbody>
                    <tr id="job-total-row">
                        <td>Total</td>
                        <td>{{result.total}}</td>
                    </tr>
                    <tr>
                        <td>GB</td>
                        <td>{{result.gb}}</td>
                    </tr>
                    <tr>
                        <td>Non-Polar</td>
                        <td>{{result.non_polar}}</td>
                    </tr>
                    <tr>
                        <td>Reaction Field</td>
                        <td>{{result.reaction_field}}</td>
                    </tr>
                    <tr>
                        <td>Solvent intershell</td>
                        <td>{{result.solvent_intershell}}</td>
                    </tr>
                    <tr>
                        <td>Solvent intrashell</td>
                        <td>{{result.solvent_intrashell}}</td>
                    </tr>
                    <tr>
                        <td>Solvent-solute</td>
                        <td>{{result.solvent_solute}}</td>
                    </tr>
                    <tr>
                        <td>SASA (nm^2)</td>
                        <td>{{result.sasa}}</td>
                    </tr>
                    <tr>
                        <td>Shell 0 waters</td>
                        <td>{{result.shell_zero_waters}}</td>
                    </tr>
                </tbody>
        </table>
        </div>

        <div id="job-details-buttons">
            <button class="btn btn-primary" type="button" ng-click="refreshJob()">Refresh</button>
            <button class="btn btn-primary" type="button" ng-click="exportCSV()">Export to CSV</button>
            <button class="btn btn-danger pull-right" type="button" ng-click="deleteJob()">Delete</button>
        </div>
    </div>
</div>
