<form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input ng-model='username' type="text" class="form-control" placeholder="Username" required autofocus>
    <input ng-model='password' type="password" class="form-control" placeholder="Password" required>
    <button ng-click="login()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <ul id="account_links">
        <li>
            Visit <a href="http://localhost:8001/accounts/home" target="_blank">SEA-web Accounts</a> if you have trouble logging in or need an account.
        </li>
        <!-- <li><a href="http://localhost:8001/accounts/password/change/" target="_blank">Change your password?</a></li>
        <li><a href="http://localhost:8001/accounts/password/reset/" target="_blank">Forgot your password?</a></li>
        <li><a href="http://localhost:8001/accounts/register/" target="_blank">Need an account?</a></li> -->
    </ul>
</form>
